In [1]:
import requests
import pandas as pd
from datetime import datetime, timedelta
def get_vn30():
    def vn30():
            return requests.get("https://services.entrade.com.vn/chart-api/v2/ohlcs/index?from=1667201340&resolution=1&symbol=VN30&to=9999999999").json()
    vn30fm = pd.DataFrame(vn30()).iloc[:,:6]
    vn30fm['t'] = vn30fm['t'].astype(int).apply(lambda x: datetime.utcfromtimestamp(x) + timedelta(hours = 7))
    vn30fm.columns = ['Date','Open','High','Low','Close','Volume']
    ohlc_dict = {
        'Open': 'first',
        'High': 'max',
        'Low': 'min',
        'Close': 'last',
        'Volume': 'sum',}
    vn30fm = pd.DataFrame(vn30()).iloc[:,:6]
    vn30fm['t'] = vn30fm['t'].astype(int).apply(lambda x: datetime.utcfromtimestamp(x) + timedelta(hours = 7))
    vn30fm.columns = ['Date','Open','High','Low','Close','Volume']
    return vn30fm.set_index('Date')
get_vn30()

                        Open     High      Low    Close    Volume
Date
2022-10-31 14:30:00  1018.44  1018.44  1018.44  1018.44    157296
2022-11-01 09:15:00  1028.23  1036.31  1028.23  1035.44   4872800
2022-11-01 09:16:00  1036.70  1037.76  1036.33  1037.31   1385800
2022-11-01 09:17:00  1038.56  1040.19  1038.31  1040.01   1112900
2022-11-01 09:18:00  1039.77  1039.77  1038.55  1039.30   1574600
...                      ...      ...      ...      ...       ...
2023-11-28 14:27:00  1083.26  1085.86  1083.26  1085.86   1977504
2023-11-28 14:28:00  1086.43  1089.09  1086.25  1088.70   2542400
2023-11-28 14:29:00  1088.58  1089.40  1087.78  1087.78   1280192
2023-11-28 14:30:00  1087.95  1087.95  1087.95  1087.95     16912
2023-11-28 14:45:00  1088.51  1088.51  1088.51  1088.51  10637600

[61049 rows x 5 columns]

In [9]:
df = get_vn30()
df['Date'] = df.index
df = df.reset_index(drop=True)
print(df['Date'].astype)

<bound method NDFrame.astype of 0       2022-10-31 14:30:00
1       2022-11-01 09:15:00
2       2022-11-01 09:16:00
3       2022-11-01 09:17:00
4       2022-11-01 09:18:00
                ...
61044   2023-11-28 14:27:00
61045   2023-11-28 14:28:00
61046   2023-11-28 14:29:00
61047   2023-11-28 14:30:00
61048   2023-11-28 14:45:00
Name: Date, Length: 61049, dtype: datetime64[ns]>

In [11]:
print(str(df.iloc[-1]))

Open                  1088.51
High                  1088.51
Low                   1088.51
Close                 1088.51
Volume               10637600
Date      2023-11-28 14:45:00
Name: 61048, dtype: object